{% extends 'layout.html' %}
{% block title %}Kirjan Bibtex{% endblock %}
{% block content %}
<div class="margin">
    <button class="top_button"><a href="/add_book">Takaisin</a></button>
    <h4>{{ bibtex }}</h4>
    <form action="/book_bibtex/{{ id }}" method="POST" onsubmit="return checkcopy(this)">
        <input type="submit" value="Kopioi" style="background-color: #B4CDE6;">
    </form>

    <script>
        function checkcopy(form) {
            alert("Viite kopioitu!")
        }
    </script>
</div>
{% endblock %}
