{% extends 'layout.html' %}
{% block title %}Nettisivun lisääminen{% endblock %}
{% block content %}
<a href="/">Takaisin</a><br>
<a href="/add_book">Lisää kirja</a><br><br>
<a href="/sortByDateAddedMisc">Järjestä lisäysajan mukaan</a>

<h1>Nettisivun lisääminen</h1>
<hr>
<p>Lisää nettisivu lähteeksi tällä lomakkeella:</p>
<form action="/addSite" method="POST" onsubmit="return check(this)">
    <input type="hidden" name="identifiers" value="{{ identifiers }}">
    Tunniste:<br>
    <input type="text" name="identifier" minlength="1">
    <br> Otsikko:
    <br>
    <input type="text" name="title" minlength="1">
    <br> Editori:
    <br>
    <input type="text" name="editor" minlength="1">
    <br> URL:
    <br>
    <input type="text" name="how_published" minlength="1" placeholder="https://example.com"
    pattern="https://.*">
    <br> Julkaisuvuosi:
    <br>
    <input type="text" name="year" minlength="1" maxlength="4">
    <br> Luettu (milloin?):
    <br>
    <input type="text" name="note" minlength="1">
    <br>
    <input type="submit" value="Tallenna sivu">
</form>

{% if misc_list %}
<p>Lisäämäsi lähteet:</p>
    {% for misc in misc_list %}
        <p>Tunniste: {{ misc[0] }}</p>
        <p>Sivun otsikko: {{ misc[1] }}</p>
        <p>Editori: {{ misc[2] }}</p>
        <p>Sivun URL: {{ misc[3] }}</p>
        <p>Julkaisuvuosi: {{ misc[4] }}</p>
        <p>Muuta tietoa: {{ misc[5] }}</p>
        <button><a href="/website_bibtex/{{ misc[6] }}">Muuta bibtex-muotoon</a></button><br>
        <button><a href="/deleteMisc/{{ misc[6] }}">Poista viite</a></button>
        <form action="/addTagMisc" method="POST" onsubmit="return checkTag(this)">
            Lisää tägi:<br>
            <input type="text" name="tag_text" minlength="1">
            <input type="hidden" name="identifier" value="{{ misc[0] }}">
            <input type="submit" value="Lisää tägi">
        </form>
        <hr>
    {% endfor %}
{% endif %}

<script>
    function check(form) {
        if (!form.identifier.value) {
            alert("Lisää tunniste.");
            return false;
        }
        var data = JSON.parse('{{identifiers | tojson | safe}}');
        var identifier_list = data.identifiers;
        if (identifier_list.includes(form.identifier.value)) {
            alert("Tunniste on jo käytössä.");
            return false;
        }
        if (!form.title.value) {
            alert("Lisää otsikko.");
            return false;
        }
        if (!form.editor.value) {
            alert("Lisää editori.");
            return false;
        }
        if (!form.how_published.value) {
            alert("Lisää URL.");
            return false;
        }
        if (!form.year.value) {
            alert("Lisää julkaisuvuosi.");
            return false;
        }
        if (!form.note.value) {
            alert("Lisää milloin luettu.")
            return false;
        }
        if (!isPositiveInteger(form.year.value)) {
            alert("Tarkista julkaisuvuosi.");
            return false;
        }
    }

    function isPositiveInteger(str) {
        if (typeof str !== "string") {
            return false;
        }
        const num = Number(str);
        if (Number.isInteger(num) && num > 0) {
            return true;
        }
        return false;
    }

    function checkTag(form) {
        if (!form.tag_text.value) {
            alert("Tunniste ei saa olla tyhjä.")
            return false;
        }
        var data = JSON.parse('{{work_tag_pairs | tojson | safe}}');
        for (let identifier_text in data) {
            if (identifier_text === form.identifier.value) {
                var identifier_list = data[identifier_text];
                if (identifier_list.includes(form.tag_text.value)) {
                    alert("Hups! Tägi " + form.tag_text.value + " on jo liitetty!");
                    return false;
                }
            }
        }
    }


</script>
{% endblock %}
