<title>Kirjan lisääminen</title>

<a href="/">Takaisin</a><br>
<a href="/addSite">Lisää nettisivu</a><br><br>

<h1>Kirjan lisääminen</h1>
<hr>
<p>Lisää kirja lähteeksi tällä lomakkeella:</p>
<form action="/" method="POST" onsubmit="return check(this)">
    Tunniste:<br>
    <input type="text" name="identifier" minlength="1">
    <br> Kirjoittaja:
    <br>
    <input type="text" name="author" minlength="1">
    <br> Editori:
    <br>
    <input type="text" name="editor" minlength="1">
    <br> Nimi:
    <br>
    <input type="text" name="title" minlength="1">
    <br> Kustantaja:
    <br>
    <input type="text" name="publisher" minlength="1">
    <br> Julkaisuvuosi:
    <br>
    <input name="year" minlength="1">
    <br>
    <input type="submit" value="Tallenna kirja">
</form>

{% if book_list %}
<p>Lisäämäsi lähteet:</p>
    {% for book in book_list %}
        <p>Tunniste: {{ book[0] }}</p>
        <p>Kirja: {{ book[3] }}</p>
        <p>Kirjoittaja: {{ book[1] }}</p>
        <p>Editori: {{ book[2] }}</p>
        <p>Kustantaja: {{ book[4] }}</p>
        <p>Julkaisuvuosi: {{ book[5] }}</p>
        <button><a href="/book_bibtex/{{ book[6] }}">Muuta bibtex-muotoon</a></button><br>
        <button><a href="/deleteBook/{{ book[6] }}">Poista viite</a></button>
        <hr>
    {% endfor %}
{% endif %}


<script>
    function check(form) {
        if (!form.identifier.value) {
            alert("Lisää tunniste.");
            return false;
        }
        if (!form.author.value) {
            alert("Lisää kirjoittaja.");
            return false;
        }
        if (!form.editor.value) {
            alert("Lisää editori.");
            return false;
        }
        if (!form.title.value) {
            alert("Lisää teoksen nimi.");
            return false;
        }
        if (!form.publisher.value) {
            alert("Lisää kustantaja.");
            return false;
        }
        if (!form.year.value) {
            alert("Lisää julkaisuvuosi.")
            return false;
        }
        if (!isPositiveInteger(form.year.value)) {
            alert("Tarkista julkaisuvuosi.");
            return false;
        }

    function isPositiveInteger(str) {
        if (typeof str !== "string") {
            return false;
        }

        const num = Number(str);

        if (Number.isInteger(num) && num > 0) {
            return true;
        }

        return false;
    }

    }
</script>