<a href="/add_book">Takaisin</a>
{% if book_list %}
<p>Lisäämäsi lähteet:</p>
    {% for book in book_list %}
        <p>Tunniste: {{ book[0] }}</p>
        <p>Kirja: {{ book[3] }}</p>
        <p>Kirjoittaja: {{ book[1] }}</p>
        <p>Editori: {{ book[2] }}</p>
        <p>Kustantaja: {{ book[4] }}</p>
        <p>Julkaisuvuosi: {{ book[5] }}</p>
        <button><a href="/book_bibtex/{{ book[6] }}">Muuta bibtex-muotoon</a></button><br>
        <button><a href="/deleteBook/{{ book[6] }}">Poista viite</a></button><br>
        <hr>
    {% endfor %}
{% endif %}