{% if misc_list %}
<p>Lisäämäsi lähteet:</p>
    {% for misc in misc_list %}
        <p>Tunniste: {{ misc[0] }}</p>
        <p>Sivun otsikko: {{ misc[1] }}</p>
        <p>Editori: {{ misc[2] }}</p>
        <p>Sivun URL: {{ misc[3] }}</p>
        <p>Julkaisuvuosi: {{ misc[4] }}</p>
        <p>Muuta tietoa: {{ misc[5] }}</p>
        <button><a href="/website_bibtex/{{ misc[6] }}">Muuta bibtex-muotoon</a></button><br>
        <button><a href="/deleteMisc/{{ misc[6] }}">Poista viite</a></button>
    {% endfor %}
{% endif %}