name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install poetry
      run: pip install poetry
    - name: Install dependencies
      run: poetry install
    - name: Install pytest
      run: pip install pytest
    - name: Run pytest
      env:
        DATABASE_URL: postgresql+psycopg2:///nicolaskivimaki
      run: poetry run pytest src
    - name: Run tests
      run: poetry run invoke test
    - name: Run coverage
      run: poetry run invoke coverage
    - name: Coverage report
      run: poetry run coverage xml
    - name: Coverage report to Codecov
      run: bash <(curl -s https://codecov.io/bash)
    - name: Pylint Tests
      run: poetry run invoke lint
